# Bot sozlamalari
BOT_TOKEN=8701338978:AAFnVoK3NCbXkdRXFbWsDHF_1QgNMx1Fyug
BOT_USERNAME=pdp_meal_system_bot
BOT_PROFILE=dev

# Admin Telegram ID lari (vergul bilan ajrating)
BOT_ADMIN_IDS=1988818507,638206964

# PostgreSQL (production uchun)
# DB_URL=jdbc:postgresql://localhost:5432/mealvotebot
# DB_USERNAME=postgres
# DB_PASSWORD=root
